[user]
	name = {{ full_name }}
	email = {{ git_email }}

[alias]
        a = add
        st = status
        stat = status
        com = commit

[url "https://aur.archlinux.org/"]
        insteadOf = aur:

[url "https://github.com/"]
        insteadOf = gh:
